<h2>Sign up</h2>

<div class="row">
	<div class="span8">
	<%= form_for(resource, :html => { :class => "form-horizontal"}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	<div class="control-group">
		<%= f.label :first_name, class: "control-label" %>
		<div class="controls">
	  		<%= f.text_field :forename, :autofocus => true, placeholder: "John"  %>
	  	</div>
	</div>

	<div class="control-group">
		<%= f.label :last_name, class: "control-label" %>
		<div class="controls">
	  		<%= f.text_field :surname, placeholder: "Doe"  %>
	  	</div>
	</div>
	<div class="control-group">
		<%= f.label :email, class: "control-label" %>
		<div class="controls">
	  		<%= f.email_field :email, placeholder: "someone@example.com"  %>
	  	</div>
	</div>

	<div class="control-group">
		<%= f.label :year_of_birth, class: "control-label" %>
		<div class="controls">
	  		<%= f.text_field :yearOfBirth, placeholder: "YYYY"  %>
	  	</div>
	</div>

	<div class="control-group">
		<%= f.label :sex, class: "control-label" %>
		<div class="controls">
	  		<%= f.text_field :sexID, placeholder: "1"  %>
	  	</div>
	</div>

	<div class="control-group">
		<%= f.label :nationality, class: "control-label" %>
		<div class="controls">
	  		<%= f.text_field :countryCode, placeholder: "IE"  %>
	  	</div>
	</div>

	<div class="control-group">
		<%= f.label :password, class: "control-label" %>
		<div class="controls">
	  		<%= f.password_field :password  %>
	  	</div>
	</div>

	<div class="control-group">
		<%= f.label :confirm_password, class: "control-label" %>
		<div class="controls">
	  		<%= f.password_field :password_confirmation  %>
	  	</div>
	</div>

	  <div><%= f.submit "Sign up", class: "btn btn-danger" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
	</div>
</div>
