<%= render "layouts/email_header" %>
<p>Hello <%= @enrollment.student.forename %>,</p>

<p>There have been some changes to <%= @enrollment.course.title %>:</p>

<% @diff_hash.each do |key,value| %>
	<p><strong><%= key.to_s.capitalize %></strong>: <%= value.to_s %></p>
<% end %>

<% if @show_time_table %>
	<p>The revised schedule is as follows:</p>

		<table style="border: 1px solid black; border-collapse: collapse;">
			<tr>
				<th style="border: 1px solid black ;">Location</th>
				<th style="border: 1px solid black ;">Room</th>
				<th style="border: 1px solid black ;">Start Time</th><th>End Time</th>
			</tr>
	<% @enrollment.course.time_table_items.each do |tt| %>
			<tr>
				<td style="border: 1px solid black ;"><%= tt.location.title %></td>
				<td style="border: 1px solid black ;"><%= tt.room %></td>
				<td style="border: 1px solid black ;"><%= tt.start_time.strftime("%b %e, %l:%M %p") %></td>
				<td style="border: 1px solid black ;"><%= tt.end_time.strftime("%b %e, %l:%M %p") %></td>
			</tr>
		</table>
	<% end %>
<% end %>

<% if @enrollment.refund_amount > @enrollment.course.price - @enrollment.course.deposit %>
	<p>Due to changes that have been made to this course, you are now entitled to a 
		<% if @enrollment.refund_amount == @enrollment.course.price %>
			full refund
		<% else %>
			refund of <%= number_to_currency(@enrollment.refund_amount, :unit => "&euro;") %>
		<% end %> if you wish to cancel your enrolment. You can do this from your <%= link_to "My Courses", enrollments_url %> page.
	</p>
<% end %>

<p>To view full details of the course please visit the <%= link_to "course page", course_url(@enrollment.course.id) %>.</p>

<p>If you have any questions, please do not hesitate to <%= link_to "Contact Us", contact_url %></p>

<p>Kind regards,</p>
<p>UCC Summer Courses Office</p>
<%= render "layouts/email_footer" %>