<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @enrollment.student.forename %>,</p>

    <p><%= link_to @enrollment.course.title, course_url(@enrollment.course.id) %> will begin in <%= @enrollment.course.days_to_start %> days.</p>

    <% if @enrollment.total_due > 0 %>
      <p>You must pay the remaining <%= number_to_currency(@enrollment.total_due, :unit => "&euro;") %> before attending the course. This may be done from <%= link_to "My Courses", enrollments_url %> section of our website.</p>
    <% end %>

    <p>To view details of the schedule please visit the <%= link_to "course page", course_url(@enrollment.course.id) %>.</p>

    <p>If you have any questions, please do not hesitate to <%= link_to "Contact Us", contact_url %></p>

    <p>Kind regards,</p>
    <p>UCC Summer Courses Office</p>
  </body>
</html>