<%= render "layouts/email_header" %>
<p>Hello <%= @enrollment.student.forename %>,</p>

<p>Your refund for <%= link_to @enrollment.course.title, course_url(@enrollment.course.id) %> has now been fully processed.</p>

<% 
	@enrollment.payments.each do |p| 
	original_amount = p.amount
	refund_amount = p.total_refunded
%>

<p>Your payment of <%= number_to_currency(original_amount.to_s, :unit => "&euro;") %> has been refunded to the amount of <%= number_to_currency(refund_amount.to_s, :unit => "&euro;") %>.</p>

<% end %>

<% if @enrollment.course.is_cancelled #Automatic refund %>
  <p>Unfortunately this course has been cancelled. You have been issued a full refund. UCC sincerely apologises for any inconvenience.</p>
<% end %>

<p>If you wish to browse our wide range of courses, please visit this <%= link_to "link", categories_url %>.</p>

<p>If you have any questions, please do not hesitate to <%= link_to "Contact Us", contact_url %></p>

<p>Kind regards,</p>
<p>UCC Summer Courses Office</p>
<%= render "layouts/email_footer" %>