<div class="hero-unit">
  <h1>My Courses</h1>
  <p>This page lists all the courses you have enrolled in.</p>
</div>

<h3>Upcoming Courses</h3>

<% 
	upcoming = @enrollments.find_all{|e| !e.is_cancelled && Time.now <= e.course.end_time }
	if upcoming.count > 0
%>

<table class="table">
	<tr>
		<th>Course</th>
		<th>Total Paid</th>
		<th>Total Due</th>
		<th></th>
	</tr>
    <% upcoming.each do |enrollment| %>
    <tr>
		<td>
			<%= link_to enrollment.course.title, course_path(enrollment.course.id) %>
		</td>
		<td>
			<%=
				number_to_currency(enrollment.total_paid, :unit => "&euro;")
			%>
		</td>
		<td>
			<%=
				number_to_currency(enrollment.total_due, :unit => "&euro;")
			%>
		</td>
		<td>
			<% if enrollment.total_due > enrollment.total_paid %>
				<%= link_to "Pay Balance", edit_enrollment_path(enrollment.id), class: "btn" %>
			<% end %>
			<% if Time.now < enrollment.course.start_time %>
				<%= link_to "Un-Enrol", cancel_enrollment_path(enrollment.id), class: "btn btn-danger" %>
			<% end %>
		</td>
    </tr>
    <% end %>
</table>

<% else %>
	<p>You have no upcoming courses</p>
<% end %>



<h3>Past Courses</h3>

<% 
	past = @enrollments.find_all{|e| !e.is_cancelled && Time.now > e.course.end_time }
	if past.count > 0
%>

<table class="table">
	<tr>
		<th>Course</th>
		<th>Total Paid</th>
	</tr>
    <% past.each do |enrollment| %>
    <tr>
		<td>
			<%= link_to enrollment.course.title, course_path(enrollment.course.id) %>
		</td>
		<td>
			<%=
				number_to_currency(enrollment.total_paid, :unit => "&euro;")
			%>
		</td>
    </tr>
    <% end %>
</table>

<% else %>
	<p>You have no past courses</p>
<% end %>

<h3>Cancelled Courses</h3>

<% 
	cancelled = @enrollments.find_all{|e| e.is_cancelled }
	if cancelled.count > 0
%>

<table class="table">
	<tr>
		<th>Course</th>
		<th>Total Paid</th>
		<th>Total Refunded</th>
	</tr>
    <% cancelled.each do |enrollment| %>
    <tr>
		<td>
			<%= link_to enrollment.course.title, course_path(enrollment.course.id) %>
		</td>
		<td>
			<%=
				number_to_currency(enrollment.total_paid, :unit => "&euro;")
			%>
		</td>
		<td>
			<%= number_to_currency(enrollment.total_refunded, :unit => "&euro;") %>
		</td>
    </tr>
    <% end %>
</table>

<% else %>
	<p>You have no cancelled courses</p>
<% end %>