<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      $("#full_form").hide();
      $("#buttons").show();

      $("#deposit_button").on("click", function() {
        $("#full_form").hide();
        $("#deposit_form").show();
        $(this).addClass('active');
        $("#full_button").removeClass('active');
      });
      $("#full_button").on("click", function() {
        $("#full_form").show();
        $("#deposit_form").hide();
        $(this).addClass('active');
        $("#deposit_button").removeClass('active');
      });
    })
  </script>
<% end %>
<h2>Enrol in <%= @course.title %></h2>
<% if current_student.enrollments.find_by_course_id(@course.id) != nil %>
  <p>You are already enrolled in this course.</p>
<% else %>
  <p>The total cost of this course is <%= number_to_currency(@course.price, :unit => "&euro;") %>. The deposit is <%= number_to_currency(@course.deposit, :unit => "&euro;")%>. To secure a place in <em><%= @course.title %></em>, you may pay the deposit now and pay the balance online before the course starts. You may also pay the full amount now.</p>
  <div class="btn-group" id="buttons" data-toggle="buttons-radio" style="display: none;">
     <button data-toggle="button" id="deposit_button" class="btn btn-small active">Pay Deposit</button>
     <button data-toggle="button" id="full_button" class="btn btn-small">Pay Full Price</button>
  </div>
  <div id="deposit_form">
    <h3>Pay Deposit</h3>
    <p>You will be charged <%= number_to_currency(@course.deposit, :unit => "&euro;") %></p>
    <%= render :partial =>"layouts/payment_form" %>
    <% @deposit_tr_data = nil %>
  </div>
  <div id="full_form">
    <h3>Pay Full Price</h3>
    <p>You will be charged <%= number_to_currency(@course.price, :unit => "&euro;") %></p>
    <%= render :partial =>"layouts/payment_form" %>
  </div>
<% end %>