<div class="hero-unit">
  <h1><%= @course.title %></h1>
  <p><%= @course.brief_description %>.</p>
</div>
<p><%= @course.description %></p>
<ul>
	<li>Teacher: <%= @course.teacher_id %></li>
	<li>Number Of Places: <%= @course.number_of_places %></li>
	<li>Price: €<%= @course.price %></li>
	<li>Deposit: €<%= @course.deposit %></li>
	<li>CategoryID: <%= @course.category.category_name %></li>
</ul>
<p><%= link_to "Enrol", new_enrollment_path(@course.id), class: "btn btn-large btn-danger" %></a></p>