<% content_for(:head) do %>
    <%= javascript_include_tag 'galleria-1.2.9.min' %>

    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= javascript_include_tag 'gmaps4rails/gmaps4rails.base' %>
    <%= javascript_include_tag 'gmaps4rails/gmaps4rails.googlemaps' %>

    <%= stylesheet_link_tag 'fullcalendar' %>
    <%= javascript_include_tag 'fullcalendar.min' %>
    <script type='text/javascript'>

        $(document).ready(function () {

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title'    ,
                    right: 'month,agendaWeek'
                },
                allDaySlot: false,
                defaultView: "agendaWeek",
                theme: false,
                editable: true,
                minTime: 7,
                maxTime: 20,
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1)
                    },
                    {
                        title: 'Long Event',
                        start: new Date(y, m, d - 5),
                        end: new Date(y, m, d - 2)
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: new Date(y, m, d + 4, 16, 0),
                        allDay: false
                    },
                    {
                        title: 'Meeting',
                        start: new Date(y, m, d, 10, 30),
                        allDay: false
                    },
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false
                    },
                    {
                        title: 'Birthday Party',
                        start: new Date(y, m, d + 1, 19, 0),
                        end: new Date(y, m, d + 1, 22, 30),
                        allDay: false
                    },
                    {
                        title: 'Click for Google',
                        start: new Date(y, m, 28),
                        end: new Date(y, m, 29),
                        url: 'http://google.com/'
                    }
                ]
            });

        });

    </script>
<% end %>
<div class="hero-unit">
  <h1><%= @course.title %></h1>

  <p><%= @course.description %>.</p>
</div>
<!--end hero unit -->
<!--
<script>
  if (Galleria) { $("body").text('Galleria works') }
</script>
-->
<div class="row">
  <div class="span10">
    <div id="galleria">
      <% @course.course_assets.each do |m| %>
          <a href="<%= m.asset.asset.url(:medium) %>">
            <img src="<%= m.asset.asset.url(:thumb) %>"
                 data-description="<%= m.asset.description %>"
            >
          </a>
      <% end %>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <table class="table table-striped">
    <caption>
      course details
    </caption>
    <tbody>
    <tr>
      <td>Teacher:</td>
      <td><%= @course.teacher_id %></td>
    </tr>
    <tr>
      <td>Number Of Places:</td>
      <td><%= @course.number_of_places %></td>
    </tr>
    <tr>
      <td>Price: €</td>
      <td><%= @course.price %></td>
    </tr>
    <tr>
      <td>Deposit: €</td>
      <td><%= @course.deposit %></td>
    </tr>
    <tr>
      <td>Category:</td>
      <td><%= @course.category.category_name %></td>
    </tr>
    </tbody>
  </table>
  <p><%= link_to 'Enrol', new_enrollment_path(@course.id), class: 'btn btn-large btn-danger' %></a></p>

</div>
<div class="row">
  <%= gmaps('map_options' => {'auto_zoom' => false, 'zoom' => 17}, 'markers' => {'data' => @locations}) %>
</div>
<br />
<br />
<div class="row">
  <div id='calendar'></div>
</div>

<% content_for(:foot) do %>
    <!-- add galleria theme js-->
    <script>
        Galleria.loadTheme('<%= javascript_path 'galleria.classic.min' %>');
        Galleria.run('#galleria');
    </script>

    <!-- add map related js-->
    <%= yield :scripts %>
<% end %>
