<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      $(".accordion-body").addClass("collapse");
    });
  </script>
<% end %>
<div class="hero-unit">
  <h1><%= @category.category_name %></h1>
  <p>This page lists all the courses offered in the <%= @category.category_name %> category though the UCC summer courses office.</p>
</div>

<% courses = @category.courses.find_all{|c| !c.is_cancelled} %>

<% if !courses.empty? %>
  <div class="accordion" id="accordion2">
  <% courses.each do |course| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= course.id %>">
          <%= course.title %>
        </a>
      </div>
      <div id="collapse<%= course.id %>" class="accordion-body">
        <div class="accordion-inner">
          <p><%= course.brief_description %></p>
          <p>
            <%= link_to "View Course", course_path(course.id), class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <p>There are currently no courses available in this category. Please check back soon.</p>
<% end %>