<style type="text/css">
th:first-letter {
    text-transform: uppercase;
}
</style>
	
	<% 
		enrollments = @course.enrollments
		students = []
		enrollments.each do |e|
			students << e.student
		end

		gender_hash = {}
		gender_count = 0
		students.each do |s|
			if gender_hash.has_key?(s.sex.sex_name)
				gender_hash[s.sex.sex_name] += 1
			else
				gender_hash[s.sex.sex_name] = 1
				gender_count += 1
			end
		end
	%>

	<canvas id="gender" height="450" width="600"></canvas>

<table>
<div class="panel_contents">
<div class="attributes_table message_thread">
  <table stlye="border-collapse: collapse; border: 1px #ccc solid;">
    <tbody>
    	<% gender_hash.each do |sex_name,count| %>
			<tr>
			  <th style="text-transform: lowercase; border: 1px #ccc solid;"><%= sex_name %></th>
			  <td style="text-transform: lowercase; border: 1px #ccc solid;"><%=  count %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>

</table>

	<script>
		var pieData = [
				<% if gender_count > 0 %>
				{
					value: <%= gender_hash[gender_hash.keys[0]] %>,
					color:"#F38630"
				}
				<% end %>
				<% if gender_count > 1 %>
				,
				{
					value: <%= gender_hash[gender_hash.keys[1]] %>,
					color:"#E0E4CC"
				}
				<% end %>
				<% if gender_count > 2 %>
				,
				{
					value: <%= gender_hash[gender_hash.keys[2]] %>,
					color:"#69D2E7"
				}
				<% end %>
				<% if gender_count > 3 %>
				,
				{
					value: <%= gender_hash[gender_hash.keys[3]] %>,
					color:"#F38630"
				}
				<% end %>
			
			];

	var myPie = new Chart(document.getElementById("gender").getContext("2d")).Pie(pieData);

	</script>