<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to r_image_tag('UCC-logo.png', width: 129, height: 50, alt: "UCC logo"), root_path , class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li <% if current_page?(root_path) %>class="active"<% end %>><%= link_to "Home", root_path %></li>
          <li <% if current_page?(categories_path) %>class="active"<% end %> ><%= link_to "Courses", categories_path %></li>
          <li <% if current_page?(contact_path) %>class="active"<% end %> ><%= link_to "Contact", contact_path %></li>
          <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Language <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" style="font-weight: bold">English</a></li>
            <li><a href="#">Irish</a></li>
            <li><a href="#">Chinese</a></li>
            <li><a href="#">Slovak</a></li>
          </ul>
          </li>-->
        </ul>
        <ul class="nav pull-right">
          <% if student_signed_in? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display: none;"><%= "#{current_student.forename} #{current_student.surname}" %> <b class="caret"></b></a>
            <ul class="nav" id="user-dropdown">
              <li class="nav-header" style="display: none;">Account</li>
              <li><%= link_to "Edit Account", edit_student_registration_path %></li>
              <li><%= link_to "My Courses", enrollments_path %></li>
              <li><%= link_to "Sign Out", destroy_student_session_path, method: "delete" %></li>
            </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign In", new_student_session_path %></li>
            <li><%= link_to "Sign Up", new_student_registration_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse --> 
    </div>
  </div>
</div>
