<!DOCTYPE html>
<html lang="en">
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/nav_bar" %>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div> <!-- /container -->
    <%= render "layouts/footer" %>

  </body>
</html>
